<div ng-controller="pedidoController" data-ng-init="carregarPedidoDetalhe()">
	<form name="formPedido" ng-submit="salvar()">
		<table class="table">
			<thead class="thead-light">
				<tr>
					<th scope="col">Cliente</th>
				</tr>
			</thead>
			<tbody>
				<th scope="row">
					<select class="form-control input-sm" ng-model="pedido.cliente"
						ng-options="cliente as cliente.nome for cliente in clientes track by cliente.id" 
						ng-required="true">
						<option value="">Selecione</option>
					</select>
				</th>
			</tbody>
		</table>

		<h3>Produtos</h3>
		<table class="table">
			<thead class="thead-light">
				<tr>
					<th scope="col">Produto</th>
					<th scope="col">Quantidade em estoque</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="produto in produtos">
					<th scope="row">{{ produto.nome }}</th>
					<th scope="row">{{ produto.quantidade }}</th>
					<th class="text-right" scope="row">
						<!-- Button trigger modal -->
						<button type="button" ng-click="valorizarProduto(produto, produto.quantidade)" class="btn btn-primary"
							data-toggle="modal" data-target="#exampleModalCenter">
							Adicionar ao Pedida
						</button>
					</th>
				</tr>
			</tbody>
		</table>

		<h3>Pedido</h3>
		<table class="table">
			<thead class="thead-light">
				<tr>
					<th scope="col">Produto</th>
					<th scope="col">Quantidade</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in pedido.itens">
					<th scope="row">{{ item.produto.nome }}</th>
					<th scope="row">{{ item.quantidade }}</th>
					<th class="text-right" scope="row">
						<button type="button" ng-click="valorizarProduto(item.produto, item.quantidade)" class="btn btn-secondary"
							data-toggle="modal" data-target="#exampleModalCenter1">
							Remover do Pedido
						</button>
					</th>
				</tr>
			</tbody>
		</table>

		<div class="form-group col-md-6">
			<a href="pedido" class="btn btn-secondary btn-ms">Voltar</a>
			<button type="submit" class="btn btn-primary">Salvar</button>
		</div>
	</form>

	<!-- Modal -->
	<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-body">
					Quantidade: <input type="text" size="3" id="campoQtd" ng-model="quantidade" ng-required="true">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal"
						ng-click="inserirItem()">Adicionar</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-body">
					Quantidade: <input type="text" size="3" id="campoQtd" ng-model="quantidade">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal"
						ng-click="removerItem()">Remover</button>
				</div>
			</div>
		</div>
	</div>
</div>